<div class="container"> <!-- patial for post info on the dashboard page -->
    <div class="row">
        <div class="col-12 card">
            <div class="card-header">
                <h3><a class="link" href="/dashboard/edit/{{id}}">{{title}}</a></h3>
            </div>
        </div>
    </div>
</div>