<!DOCTYPE html> <!-- main handlebars page that displays the dashboard, login, and logout options in the pages nav bar -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"> <!-- Allows us to use bootstrap for our styling-->
</head>
<body>
    <div class="wrapper">
        <header class="hero">
            <div>
                <nav class="nav mt-0 ml-1 px-2">
                    <a class="link" href="/">Homepage</a>
                    <a class="link" href="/dashboard">Dashboard</a>
                    {{#if loggedIn}}
                    <a class="link" href="/logout" id="logout">Logout</a>
                    {{else}}
                    <a class="link" href="/login">Login</a>
                    {{/if}}
                </nav>
            </div>

            <h1 class="application-title"><i class="fab"></i>Tech Blog</i></h1>
        </header>

        <main>
            {{{ body }}}
        </main>
    </div>
        {{#if loggedIn}}
        <script src="javascript/logout.js"></script>
        {{/if}}

</body>
</html>