<div class="container">
    <div class="row">
        <div class="col-12 card">
            <h3 class="card-header">Create a New Post</h3>
            <form class="card-body new-post-form" id="new-post-form">
                <label for="post-title" class="form-label bg-primary text-white">Title</label>
                <input type="text" id="post-title" name="post-title" class="form-input text-white" />

                <label class="form-label bg-primary text-white" for="content">Content</label>
                <input id="content" name="content" class="form-input text-white" />

                <buton type="submit" class="btn bg-primary text-white">Create a Post</buton>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/create-post.js"></script>