{{#if posts.length}} <!-- dashboard handlebars page the provides the necessary input capabilities for users that wish to add a post. References the create-post.js file -->
<section>
    <h2>Posts</h2>
        {{#each posts as |post|}}
            {{> dashboard-postinfo post}}
        {{/each}}

</section>
{{/if}}

<button type="submit" class="btn bg-primary text-white">Add a new Post<a class="link" href="/dashboard/new">Add New Post</a></button>

<script src="/javascript/create-post.js"></script>