<div class="container"> <!--edit post handlebars page the provides the necessary input capabilities for users that edit a post. References the edit-post.js file -->
    <div class="row"> <!--This page also refernces the remove-post.js page which allow the user to delete a post -->
        <div class="col-12 card">
            <h3 class="card-header">Edit Post</h3>
            <form class="card-body edit-post-form">
                <label for="post-title" class="form-label">Title</label>
                <input type="text" name="post-title" value="{{post.title}}" class="form-input" />

                <label class="form-label" for="content">Content</label>
                <input name="content" type="text" value="{{post.content}}" class="form-input" />

                <buton type="submit" class="btn">Update Post</buton>
                <button type="button" class="delete-post-button button">Delete Post</button>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/remove-post.js"></script>